---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Gentium Book Basic", Georgia, Times, serif;
$base-font-size:   18px;
$small-font-size:  $base-font-size * 0.875;
$large-font-size:  $base-font-size * 1.125;
$base-line-height: 1.7;

$heading-font-family: "Open Sans", Helvetica, Arial, sans-serif;

$pre-font-family: "Inconsolata", monospace;

$spacing-unit:     30px;

$text-color:       #111;
$heading-color:    #073649;
$background-color: #fdfdfd;
$box-color:        #fffcf9;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
