/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}


/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 400;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}

strong {
	font-weight: 700;
}

.large {
    font-size: $large-font-size;
}

.small {
    font-size: $small-font-size;
}

.grey {
    color: $grey-color;
}

hr {
    margin-top: 1em;
    margin-bottom: 1em;
    height: 0;
    border: none;
    border-top: 1px solid $grey-color-light;    
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure, table,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
	font-family: $heading-font-family;
    font-weight: 700;
	color: $heading-color;
}



/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $text-color;
    border-left: 6px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    margin-left: $spacing-unit * 2;
    margin-right: $spacing-unit * 2;
    margin-bottom: $spacing-unit;
    
    > :last-child {
        margin-bottom: 0;
    }
    
    p {
        display: inline;
    }
    
    &:before {
        color: $heading-color;
        content: "“";
        font-size: 4em;
        line-height: 0.1em;
        margin-right: 0.25em;
        vertical-align: -0.4em;
    };
}

/**
 * Tables 
 */
table { 
    border-spacing: 0;
    padding: 1px;
    border: 1px solid $grey-color-light; border-radius: 3px;
}
tr:nth-child(even) { background: darken($box-color, 3%); }
tr:nth-child(odd) { background: $background-color; }
td { padding: 2px; }
th { padding: 5px; border: 1px solid $grey-color-light; }


/**
 * Code formatting
 */
pre,
code {
	font-family: $pre-font-family;
    font-size: 15px;
	letter-spacing: -1px;
    border: 1px solid $grey-color-light;
    border-radius: 6px;
    background-color: $box-color;
}

code {
    padding: 1px 10px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(800px - (#{$spacing-unit} * 2));
    max-width:         calc(800px - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(800px - (#{$spacing-unit}));
        max-width:         calc(800px - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}
